.ie .flex-row {
	display: table;
	width: 100%;
	table-layout: fixed; }
	.ie .flex-row > div {
		display: table-cell;
		vertical-align: top; }

.ie .page-wrap {
	display: block; }

.ie .header-row {
	display: block; }

.ie .layout-row {
	display: block; }

.ie .l-header {
	table-layout: auto; }

.ie .l-layout {
	display: table;
	width: 100%; }

.ie .l-aside {
	display: table-cell;
	vertical-align: top;
	width: 300px; }

.ie .l-main {
	display: table-cell;
	vertical-align: top; }

.ie .h-topline {
	display: table;
	width: 100%; }

.ie .topline-nav {
	display: table-cell; }

.ie .topline-aside {
	display: table-cell;
	width: 390px;
	text-align: right; }

.ie .topline-iblogin {
	display: inline-block;
	vertical-align: middle; }

.ie .topline-search {
	display: inline-block;
	vertical-align: middle; }

.ie .topline-lang {
	display: inline-block;
	vertical-align: middle; }

.ie .h-topmenu {
	display: block;
	width: 100%;
	margin-left: 0;
	border: 0; }
	.ie .h-topmenu ul {
		height: 70px;
		display: block;
		margin-left: 40px;
		list-style: none; }
	.ie .h-topmenu li {
		display: inline-block;
		vertical-align: top;
		height: 70px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box; }
		.ie .h-topmenu li:nth-child(1) {
			max-width: 160px; }
		.ie .h-topmenu li:nth-child(2) {
			max-width: 150px; }
		.ie .h-topmenu li:nth-child(3) {
			max-width: 240px; }
		.ie .h-topmenu li:nth-child(4) {
			max-width: 190px; }
		.ie .h-topmenu li:nth-child(5) {
			max-width: 230px; }
		.ie .h-topmenu li:nth-child(6) {
			max-width: 150px; }
		.ie .h-topmenu li.flexMenu-viewMore {
			width: 50px; }
			.ie .h-topmenu li.flexMenu-viewMore > a {
				display: block; }
	.ie .h-topmenu .topmenu-popup {
		display: block; }
		.ie .h-topmenu .topmenu-popup li {
			display: table;
			width: 100%;
			height: 70px;
			width: 250px; }
		.ie .h-topmenu .topmenu-popup a {
			display: block;
			width: 100%; }

.ie .topmenu-link {
	display: block;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.1;
	color: #000;
	padding: 0.75rem 30px 0;
	height: 70px;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; }
	.ie .topmenu-link:hover {
		color: #fff; }
	.ie .topmenu-link.active {
		color: #fff; }

.ie .card {
	display: block; }
	.ie .card .card-node {
		display: block; }

.ie .l-popular {
	padding: 20px; }
	.ie .l-popular .maxwrap {
		display: block; }
		.ie .l-popular .maxwrap:after {
			content: "";
			display: block;
			clear: both; }
	.ie .l-popular .popular-col {
		display: block;
		width: 25%;
		float: left;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 10px; }
		.ie .l-popular .popular-col:first-child {
			width: 50%; }
		.ie .l-popular .popular-col .card {
			height: 250px;
			margin: 10px; }
			.ie .l-popular .popular-col .card .card-node:last-child {
				height: 90px;
				position: absolute;
				bottom: 20px; }

.ie .l-products-top {
	padding: 20px; }
	.ie .l-products-top .maxwrap {
		display: block; }
		.ie .l-products-top .maxwrap:after {
			content: "";
			display: block;
			clear: both; }
	.ie .l-products-top .products-col {
		display: block;
		width: 25%;
		float: left;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box; }
	.ie .l-products-top .box {
		padding: 1.5rem;
		height: 325px;
		min-height: auto;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box; }
	.ie .l-products-top .card-circular {
		border-radius: 50%;
		overflow: hidden;
		-webkit-transform-origin: 100% 100%;
		    -ms-transform-origin: 100% 100%;
		        transform-origin: 100% 100%; }

.ie .card-offices-list {
	display: block;
	margin: 0; }
	.ie .card-offices-list .col-xs-12 {
		display: block;
		width: auto;
		max-width: none; }

.ie .l-news-row {
	padding: 20px 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; }
	.ie .l-news-row .maxwrap {
		display: block;
		padding: 0 20px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box; }
		.ie .l-news-row .maxwrap:after {
			content: "";
			display: block;
			clear: both; }
	.ie .l-news-row .news-col {
		display: block;
		float: left;
		width: 100%;
		max-width: 33.33%;
		padding: 20px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		overflow: hidden; }

.ie .sitemap-main {
	padding: 40px; }
	.ie .sitemap-main .flex-row {
		display: block; }
		.ie .sitemap-main .flex-row:after {
			content: "";
			display: block;
			clear: both; }
	.ie .sitemap-main .col-xs-12 {
		display: block;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		width: 100%;
		float: left; }
