<footer class="l-footer">

	<div class="footer-row flex-row">
		<div class="col-xs">
			<p>220004, Республика  Беларусь, г.Минск, пр-т Победителей, 29</p>
		</div>
		<div class="col-xs">

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg>
						<use xlink:href="i/icons.svg#icon_1-19"></use>
					</svg>
				</i>
				<span>
					<a href="tel:+375172156115">+375 (17) 215-61-15</a>
					Контакт-центр
				</span>
			</div>

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg>
						<use xlink:href="i/icons.svg#icon_1-19"></use>
					</svg>
				</i>
				<span>
					<a href="tel:205">205</a>
					для абонентов МТС, Life:), Velcom Круглосуточно
				</span>
			</div>

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg>
						<use xlink:href="i/icons.svg#icon_1-19"></use>
					</svg>
				</i>
				<span>
					<a href="tel:+375172156115">+375 (17) 215-61-15</a>
					Круглосуточная поддержка держателей платежных карточек банка
				</span>
			</div>

			<div class="f-phone">
				<i class="c-ico ico-50">
					<svg>
						<use xlink:href="i/icons.svg#icon_1-19"></use>
					</svg>
				</i>
				<span>
					<a href="tel:+375172156115">+375 (17) 215-61-15</a>
					Линия доверия
				</span>
			</div>

		</div>
		<div class="col-xs">

			<div class="socials">
				<div class="socials-header">Мы в соцсетях</div>
				<ul>
					<li><a href="#" class="social social-fb"><svg viewBox="0 0 11 21"><use xlink:href="#ico-fb"></use></svg></a></li>
					<li><a href="#" class="social social-vk"><svg viewBox="0 0 24 14"><use xlink:href="#ico-vk"></use></svg></a></li>
					<li><a href="#" class="social social-tw"><svg viewBox="0 0 20 17"><use xlink:href="#ico-tw"></use></svg></a></li>
					<li><a href="#" class="social social-ok"><svg viewBox="0 0 30 30"><use xlink:href="#ico-ok"></use></svg></a></li>
				</ul>
			</div>

			<div class="f-logos">
				<a href="#">
					<img src="./i/logo-1.png" alt="">
				</a>
				<a href="#">
					<img src="./i/logo-2.png" alt="">
				</a>
			</div>

		</div>
	</div>

	<div class="b-copyright flex-row">
		<div class="col-xs-12 col-sm">
			ОАО «Банк БелВЭБ» © 2010-2017
		</div>

		<div class="col-xs-12 col-sm end-sm">
			<a href="http://astronim.com" class="developer" target="_blank">
				Разработка сайта — <img src="i/developer.png" height="21" width="149" alt="">
			</a>
		</div>
	</div>
</footer>