<div class="header-row">
	<header class="l-header flex-row middle-xs">
		<div class="col-xs">
			<a href="https://bveb.by/" class="logo">
				<object data="./i/logo.svg" type="image/svg+xml"></object>
			</a>
		</div>
		<div class="col-xs end-xs align-right">
			<div class="topline-iblogin">
				<a href="#" class="link-iblogin">
					<svg class="ico-lock" viewBox="0 0 32 32">
						<use xlink:href="#ico-lock"></use>
					</svg>
					<span>Интернет-банк</span>
				</a>
			</div>
		</div>
	</header>
</div>